body {
  background: rgb(90, 187, 243);
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.inputBox {
  display: flex;
  justify-content: center;
  flex-direction: row;
  /* align-items: center; */
  margin: 24px;
  background: whitesmoke;
  border-radius: 8px;
}
.wirterInfo {
  padding: 8px 0px;
}
.contentBox {
  padding: 8px 0px;
}

.tweetBox {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.tweetsBox {
  display: flex;
  flex-direction: column;
  align-items: center;

  border-radius: 8px;
  margin: 32px;
  background: whitesmoke;
  height: 100%;
}
.tweet {
  width: 300px;
  list-style: none;
  background: white;
  border-radius: 8px;
}
.sendBtn {
  width: 100px;
  height: 32px;
}
.writer {
  font-weight: bold;
  font-size: 20px;
  padding: 4px;
}
.date {
  font-size: 12px;
  padding: 4px;
}
.content {
  padding: 4px;
  font-size: 16px;
}

#logo {
  margin: 0px;
  display: flex;
  text-align: center;
  /* position: relative;
  left: 300px; */
}
